.container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 0 30px;
  transition: background-color 0.3s ease;
  z-index: 999;
}

.container:hover {
  background-color: white;
}

.scrolled {
  background-color: white;
}

.navbarLogo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.navbarButtonUser {
  position: relative;
  z-index: 1;
}

.navbarLinks {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.buttonUser {
  background: none;
  border: none;
  cursor: pointer;
}

.navbarLinks .button {
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.navbarLinks .button:not(:first-child) {
  margin-left: 25px;
}

.searchContainer {
  position: relative;
  width: 0;
  transition: width 0.3s ease;
  margin-right: 25px;
  margin-bottom: 3px;
}

.searchContainer.active {
  width: 289px;
  margin-right: 0;
}

.searchContent::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: black;
  transition: transform 0.3s ease;
  transform: translateY(0);
}

.searchContainer.focused .searchContent::after {
  transform: translateY(11px);
}

.searchContent {
  display: flex;
  align-items: center;
  position: relative;
}

.searchIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  cursor: pointer;
}

.searchInput {
  flex: 1;
  border: none;
  background-color: transparent;
  outline: none;
  margin-left: 11px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.searchContainer.active .searchInput {
  opacity: 1;
}

.searchInput::placeholder {
  color: #00000096;
}

.searchContainer:not(.active) .searchInput {
  pointer-events: none;
}

.favoritesLink {
  position: relative;
  display: inline-block;
}

.notificationDot {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  transform: translateX(-16px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.notificationDotActive {
  opacity: 1;
}

.cartLink {
  position: relative;
  display: inline-block;
}

.cartCount {
  position: absolute;
  top: -5px;
  right: -5px;
  min-width: 16px;
  height: 16px;
  padding: 0 4px;
  background-color: black;
  color: white;
  border-radius: 8px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transform: translateX(-16px);
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.searchContainer {
  position: relative;
  width: 0;
  transition: width 0.3s ease;
  margin-right: 25px;
  margin-bottom: 3px;
}

.searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  list-style: none;
  padding: 12px;
  margin: 5px 0 0;
  box-shadow: 0 4px 8px rgb(0 0 0 / 5%);
  border-radius: 4px;
  transform: translateY(11px);
}

.searchResultItem {
  padding: 12px 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.searchResultItem:hover {
  background-color: #e6e6e6;
  border-radius: 4px;
}

.noResults {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 10px 15px;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  color: #555;
  border-radius: 4px;
}

.adminButton {
  text-decoration: none;
  margin-top: 2.2px;
}

.toggleButton {
  background: transparent; 
  border: none;
  cursor: pointer; 
  padding: 0.5rem; 
  transition: transform 0.3s;
}

.adminButton img {
  width: 25px; 
  height: 40px; 
}