.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 40px;
}

.image {
  width: 310px; 
  height: 310px;
  object-fit: cover; 
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
.image:hover {
  transform: scale(1.05);
}
