.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.header {
  width: 100%;
  text-align: center;
  font-weight: normal;
  color: black; 
}

.description {
  color:#222222; 
  width: 100%;
  text-align: center;
  font-weight: normal; 
  font-size: 14px; 

}

.input-group {
  width: 100%;
  position: relative;
  text-align: center; 
}

.custom-input {
  width: 100%;
  height: 40px; 
  padding: 10px 5px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.custom-input:focus {
  outline: none;
  border-color: #363636;
}

.floating-label {
  position: absolute;
  top: 10px;
  left: 50%; 
  transform: translateX(-50%);
  background-color: white;
  padding: 0 4px;
  transition: all 0.2s ease;
  font-size: 14px; 
  color: gray; 
  pointer-events: none; 
}

.custom-input:focus + .floating-label,
.custom-input:not(:placeholder-shown) + .floating-label {
  top: -12px; 
  font-size: 12px; 
  color: #363636;
}

.error-messages {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
  height: 20px; /* Можно оставить фиксированной высоты */
  animation: fadeIn 0.3s ease-in-out;
}

.error-message {
  color: red; /* Цвет сообщения об ошибке */
  font-size: 11px; /* Размер шрифта */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.submit-button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
 
  margin-bottom: 20px;
}

.submit-button:hover {
  background-color: #8a8a8a;
}

.submit-buttonFog {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit-buttonFog:hover {
  background-color: #8a8a8a;
}
.success-message{
  color:#222222; 
  width: 100%;
  text-align: center;
  font-weight: normal; 
  font-size: 16px;

}