.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 333px;
  height: 484px;
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.title {
  margin-bottom: 10px;
}

.like {
  position: absolute;
  top: 20px;
  right: 20px;
}

.image {
  height: 428px;
  width: 333px;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.btn:focus {
  outline: none;
}

.svgIcon path {
  fill: black; 
  stroke: black; 
  fill-opacity: 0; 
  transition: fill-opacity 0.3s ease; 
}

.liked .svgIcon path {
  fill-opacity: 1; 
}
