.container {
  position: relative;
  z-index: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 360px;
  height: 100vh;
  background-color: var(--primary-basic-white);
  overflow-x: hidden;
  transform: translateX(-360px);
  transition: transform 0.3s;
  z-index: 1000;
}

.open {
  transform: translateX(0);
}

.sidebarList {
  padding: 50px 16px;
}

.sidebarList:first-child {
  margin-top: 30px;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0006;
  z-index: 999;
}

ul {
  color: var(--primary-light-gray);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 8px 16px;
  color: var(--primary-light-gray);
  position: relative;
}

.sidebarItem {
  color: var(--primary-light-gray);
  margin-bottom: 14px;
  transition: color 0.3s;
  padding: 14px 16px;
  cursor: pointer;
  font-size: var(--font-size-base);
}

.sidebarItem:hover {
  color: var(--secondary-black) ;
}

.active {
  color: var(--secondary-black);
}

.arrow {
  float: right;
}

.sidebarButton {
  position: relative;
  width: 30px;
  height: 22px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.sidebarButton:focus {
  outline: none;
  cursor: pointer;
}

.sidebarButton span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--secondary-black);
  left: 0;
  transition: all 0.3s ease-in-out;
}

.sidebarButton .barTop {
  top: 0;
}

.sidebarButton .barMid {
  top: 10px;
}

.sidebarButton .barBot {
  top: 20px;
}

.opened .barTop {
  transform: rotate(45deg);
  top: 10px;
  transform-origin: center;
}

.opened .barMid {
  opacity: 0;
}

.opened .barBot {
  transform: rotate(-45deg);
  top: 10px;
  transform-origin: center;
}

.subSidebar {
  position: fixed;
  top: 0;
  left: 360px;
  width: 360px;
  height: 100vh;
  background-color: var(--primary-basic-white);
  border-left: 1px solid var(--secondary-black);
  padding: 50px 16px;
  opacity: 0;
  transform: translateX(-360px);
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 999;
  pointer-events: none;
}

.subSidebarVisible {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.subSidebar ul {
  color: var(--primary-light-gray);
  padding: 0;
  margin: 0;
}

.subSidebar li  {
  color: var(--primary-light-gray);
}

.subSidebar li:hover {
  color: var(--secondary-black);
}

.sidebarItemSale {
  background-color: var(--primary-light-red);
  color: var(--primary-basic-white);
}

.sidebarItemSale:hover,
.sidebarItemSale:visited {
  color: var(--primary-basic-white);
}