.Button {
  cursor: pointer;
  border: none;
  padding: 12px 28px;
  margin: 5px;
  border-radius: var(--border-radius-small);
  transition: 0.3s ease-in-out
}

.Button:hover {
  background-color: var(--secondary-dark-gray);
}

.Button:active {
  background-color: var(--secondary-black);
}

.dark {
  background-color: var(--primary-basic-gray);
}

.light {
  background-color: var(--text-white);
}

.disabled {
  background-color: var(--secondary-gray-20);
  border: 1px solid var(--primary-light-gray);
}
