.footer {
  margin-top: 105px;
  width: 100%;
}

.footerContainer {
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
}

.containerLinks {
  border-top: 1px solid var(--primary-light-gray);
}

.containerPolicy,
.containerLinks {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 0;
}

.containerPolicy {
  padding-top: 0;
}

.footerMenuLinks {
  display: flex;
  flex-direction: column;
}

.footerTitleLinks {
  margin-bottom: 16px;
  font-weight: bolder;
}

.footerLinkPolicy {
  margin-right: 25px;
  font-size: 14px;
}

.footerLink,
.footerLink:visited {
  color: var(--primary-basic-gray);
  margin-bottom: 8px;
  font-size: 12px;
}
