.container {
  position: relative;
  width: 200px;
  font-family: Arial, sans-serif;
}

.selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
  transition: border-color 0.3s ease;
}

.selected:hover {
  border-color: #ccc;
}

.arrow {
  width: 10px;
  height: 7px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

.down {
  scale: 4;
  background-image: url("../../../../public/img/arrow.svg");
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  border: 0.3px solid rgb(37 37 37 / 12%);
  border-radius: 4px;
  overflow-y: auto;
  border-top: none;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 4px 8px rgb(0 0 0 / 5%);
  width: 241px;
  padding: 12px;
  transform: translate(-40px, 12px);
}

.option {
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.option:hover {
  background-color: rgb(230 230 230 / 100%);
}

@media (width <= 600px) {
  .container {
    width: 100%;
  }
}
