.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  max-width: 600px;
  margin: auto; 
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px; 
  padding: 20px;
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.modal {
  height: auto;
  width: 100%; 
  max-width: 900px; 
  max-height: 70vh; 
  padding: 20px; 
  background-color: #fff;
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
  overflow-y: auto; 
}

.modalTitle {
  font-size: 1.0em; 
  font-weight: bold; 
  margin-bottom: 10px; 
  color: #333;
  text-align: center; 
}

.inputGroup {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 5px; 
}

.modalInput {
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  font-size: 14px; 
  width: 60%; 
  max-width: 500px; 
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

