.navbar {
  display: flex; /* Используем flexbox для расположения элементов в строку */
  justify-content: space-between; /* Распределяем пространство между элементами */
  align-items: center; /* Центрируем по вертикали */
  padding: 20px;

  /* background-color: #f8f9fa; */

  /* border-bottom: 1px solid #dee2e6; */
}

.left-content {
  display: flex;
}

.left-content ul {
  list-style-type: none; /* Убираем маркеры для списка */
  margin: 0;
  padding: 0;
}

.left-content li {
  margin-right: 20px; /* Отступы между элементами навбара */
}

.left-content a {
  text-decoration: none; /* Убираем подчеркивание для ссылок */
  color: #007bff; /* Цвет текста для ссылок */
}

.left-content a:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}

.right-content {
  /* Здесь могут быть стили для содержимого справа */
}