.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.videoContainer {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.video {
  width: 100%;
}

.catalogLink {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}


.linkOnVideo {
  position: absolute;
  bottom: 160px;
}

.button {
  width: 150px;
  height: 40px;
  background: none;
  border: 1px solid  var( --primary-basic-white);
  background-color: var( --primary-basic-white);
  border-radius: var(--border-radius-small);
  cursor: pointer;
  text-decoration: none;
  color: var(--secondary-black);
}

.collections {
  width: 1344px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.headers {
  position: relative;
  width: 100%;
  margin: 40px 0;
}

.headerTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
  font-size: var(--font-size-heading-1);
}
.discountLink {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: var(--primary-basic-white);
}

.discountLink img {
    width: 1344px;
    height: 500px;
    object-fit: cover;
}
.headerLink {
  position: absolute;
  right: 0;
  top: 0;
  font-size: var(--font-size-large);
  text-decoration: none;
  color: var(--secondary-black);
}


.discount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 80px;
}

.discount button{
    width: 150px;
    height: 40px;
    font-size:var(--font-size-large);
    line-height: var(--font-size-extra-large);
    color: var(--secondary-black);
    background: none;
    border: 1px solid var(--primary-basic-white);
    background-color: var(--primary-basic-white);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
}