.resetPasswordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.resetPasswordForm {
  width: 350px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.resetPasswordForm input {
  width: 100%;
  padding: 10px;
  margin-bottom: 7px;
  margin-top: 20px;
}

.resetPasswordForm button {
  width: 100%;
  padding: 10px;
  background-color: #030404;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.errorMessages {
  margin: 0;
  padding: 0;
}

.resetPasswordForm2 {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.resetPasswordForm2:hover {
  background-color: #8a8a8a;
}

.resetPassworh2 {
  margin-bottom: 20px;
}