.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 100px;
  padding: 0 48px;
}

.linkBack {
  margin: 100px 20px 20px;
  font-size: var(--font-size-base);
  line-height: var(--line-height-large);
  color: var(--primary-basic-gray);
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: underline;
  align-self: flex-start;
}

.linkBack:hover {
  color: var(--primary-light-gray);
}

.imagesContainer {
  width: 662px;
  height: 1047px;
}

.imageContainer {
  width: 662px;
  height: 821px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  width: 548px;
  min-height: 800px;
  gap: 40px;
}

.mainInfo div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  font-size: var(--font-size-heading-1);
  font-weight: lighter;
  text-transform: uppercase;
}

.price {
  padding-top: 20px;
}



.otherInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: var(--font-size-extra-large);
  font-weight: lighter;
}

.accordionItem {
  border-bottom: 0.5px solid var(--secondary-black);
  border-top: 0.5px solid var(--secondary-black);
  padding: 10px 0;
}

.accordionTitle {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  font-size: var(--font-size-large);
  user-select: none;
}

.accordionTitle img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.icon {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(45deg);
}

.accordionBody {
  font-size: var(--font-size-base);
  font-weight: lighter;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

.accordionBody.active {
  max-height: 500px;
  opacity: 1;
  padding: 10px 20px;
}
